<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valguy // TEXT + IMAGE</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>
<body>
<div class="layout-container">
       <main class="main-content">
        




        <!-- TEXT + IMAGE -->
        <section>
            <div class="tweet-card tweet-with-image">
                <div class="tweet-header">
                    <img src="images\logo.jpg" class="tweet-avatar" alt="Avatar">
                    <div class="tweet-meta">
                        <span class="tweet-author">Valguy</span>
                        <span class="tweet-handle">@valguypmt • Template</span>
                    </div>
                </div>
                <div class="tweet-body">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.                </div>
			<img src="images/template-image.jpg" class="tweet-media" alt="Workstation">
                <div class="tweet-timestamp">11:59AM - Jan 2026</div>
            </div>
        </section>







    </main>
</div>
    
</footer>

</body>
</html>